/*문제 1*/
#container1.highlight{
    background-color: yellow;
}


/*문제 2*/
/*
#container2 p{
    color: pink;
}
    얘를 앞에 하면 우선순위로 
    핑크먼저 바꿈 -> 위에 레드
*/
#container2 > p {
    color: red;
}
#container2:not(div>p){
    color: pink;
}

/*문제 3*/
#container3 > input:not([type=submit]){
    border: 1px solid blue;
}

/*문제 4*/
#container4 > h1 ,  #container4 > [class=title]{
    color: green;
    font-size: 20px;
}
/* ','로 이을때 부모를 꼭 넣어줘야함*/

/*문제 5*/
div[class^=user]{
    background-color: lightgray;
}
div[class$=info]{
    color:red;
}
div[class~=product]{
    background-color: coral;
}
div[class|=admin]{
    background-color: greenyellow;
}

/*문제 6*/
#container6 > input:focus{
    background-color: yellow;
}

#container6 > input:hover{
    background-color: green;
}

/*문제 7*/
#container7 > li:nth-of-type(2){
    font-weight: bold;
}

/*문제 8*/
.container8 > p:only-of-type{
    color: blue;
}

/*문제 9*/
#container9 > p[title*=import]:not(/*#container9 > */p[title*=not-important]){
    background-color: red;
}


/*문제 10*/
ul#menu > li.active{
    color: red;
}
/* 
    . 과 #
     - .이 class
     - #이 id
*/